.container
  .profile_info
    .profile_info_name
      = current_user.account
    .profile_info_image
      = image_tag @profile.user.avatar_image
  .user_info_counts
    .element_counts
      = 45
      %p Posts
    .element_counts
      = 110
      %p Followers
    .element_counts
      = 77
      %p Follwing