.authentication_image
.container
  .authentication
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render "devise/shared/error_messages", resource: resource
      .authentication_field
        = f.label :account, class: 'label_field'
        %br/
        = f.text_field :account, class: 'text_field'
      .authentication_field
        = f.label :email, class: 'label_field'
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email", class: 'text_field'
      .authentication_field
        = f.label :password, class: 'label_field'
        %br/
        = f.password_field :password, autocomplete: "new-password", class: 'text_field'
        %br/
      .authentication_submit
        = f.submit "CREATE ACCOUNT", class: 'btn-primary'
