.comment_page
  .comment_page_title
    %p Comment
.container
  .comment_area_all
    - if @comments.present?
      - @comments.each do |comment|
        .comment_area
          = image_tag comment.user.avatar_image, class: 'comment_area_image'
          .comment_area_item
            .comment_area_user_name
              = comment.user.account
            .comment_area_content
              = comment.content
  .comment_form
    = link_to new_article_comment_path(@article) do
      = image_tag 'btn-comments.png'
