= render 'articles/header'
.container
  - if @articles.present?
    - @articles.each do |article|
      .article_container_field
        = link_to article_path(article) do
          = render 'commons/article', article: article
        .article_option
          .icon_content
            .icon_heart
              - if user_signed_in?
                - if current_user.has_liked?(article)
                  .active-heart-logo
                    = image_tag 'liked.png'
                - else
                  .inactive-heart-logo
                    = image_tag 'non-liked.png'
              - else
                .inactive-heart-logo
                  = image_tag 'non-liked.png'             
          .icon_content_else
            = image_tag 'btn-share.png'
          .icon_content_else.comment_btn
            = image_tag 'btn-comments.png'
        .article_content
          = article.content