= render 'articles/header'
.container
  .article_container_field
    = render 'commons/article', article: @article
    .article_option
      .icon_content
        .icon_heart
          - if user_signed_in?
            .active-heart-logo.hidden
              = image_tag 'liked.png'
            .inactive-heart-logo.hidden
              = image_tag 'non-liked.png'
            .article-heart-count
              %span
      .icon_content_else
        = image_tag 'btn-share.png'
      .icon_content_else.comment_btn
        = image_tag 'btn-comments.png'
    .article_content
      = @article.content

  .comment_form.hidden
    .add-comment-btn
      = image_tag 'btn-comments.png', class: 'comment_btn_style'
    = text_area_tag :comment_content, '', class: 'comment_form_style'  
  .comments_container
= javascript_pack_tag 'articles/show'