.container#article-show{data: {article_id: @article.id}}
  .article_field
    .article_author
      .article_user_icon
        = link_to account_path(@article.user) do
          = image_tag @article.user.avatar_image
      .article_user_info
        .article_user_info_name
          = @article.user.account
        .article_user_info_created_at
          = @article.created_at
    .article_images_scope
      - if @article.images.attached?
        - @article.images.each do |image|
          = image_tag image, class: 'article_image_size'
    .article_option
      .article_like_status
        .article-heart.hidden.active-heart-logo
          = image_tag 'liked.png'
        .article-heart.hidden.inactive-heart-logo
          = image_tag 'non-liked.png'
        .article-heart-count
          %span
      .sharing_twitter
        = link_to 'https://twitter.com/share?url=#{request.url}' do
          = image_tag 'btn-share.png', class: 'btn-share'
      .comment_btn
        = image_tag 'btn-comments.png'
    .comments_container
        
    .comment_form.hidden
      .btn-comment-push.hidden.add-comment-btn
        = image_tag 'btn-comments.png'
      .comment-text-area.hidden
        = text_area_tag :comment_content, '', class:'text-area-form'
