.container
  .profile_info
    .profile_info_name
      = user.account
    .profile_image#profile_image
      -if user.id === current_user.id
        = form_with(model: @profile, url: profile_path, method: 'put', local: true) do |f|
          = image_tag user.avatar_image, class: 'profile_info_image'
          = f.file_field :avatar, id:'uploader', style: 'display:none'
          = f.submit 'upload', id:'submit', class:'hidden'
      - else
        %div#account-show{ data:{ account_id: @user.id} }
          = image_tag user.avatar_image, class: 'profile_info_image'
          .following_btn
            %p.unfollow-btn.hidden Unfollow
            %p.follow-btn.hidden Follow
  .user_info_counts
    .element_counts
      = link_to account_articles_path(user.id) do
        = user.articles.count
      %p Posts
    .element_counts
      = link_to account_followers_path(user.id) do
        = user.followers.count
      %p Followers
    .element_counts
      = link_to account_followings_path(user.id) do
        = user.followings.count
      %p Follwing
  .image_layouts
    .image_layouts_upper
      .image_layouts_upper_right
        #sample_1
          = image_tag 'sample_1.png'
      .image_layouts_upper_left
        #sample_2
        = image_tag 'sample_2.png'
        #sample_3
        = image_tag 'sample_3.png'
    .image_layouts_bottom
      .image_layouts_bottom_right
        #sample_3
        = image_tag 'sample_4.png'
        #sample_5
        = image_tag 'sample_5.png'
      .image_layouts_bottom_left
        #sample_6
        = image_tag 'sample_6.png'