.authentication_image
.container
  .authentication
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .authentication_field
        = f.label :email, class: 'label_field'
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email", class: 'text_field'
      .authentication_field
        = f.label :password, class: 'label_field'
        %br/
        = f.password_field :password, autocomplete: "current-password", class: 'text_field'
      .authentication_notice
        = link_to "Forgot password?", new_password_path(resource_name), class: 'authentication_notice_text'
      .authentication_submit
        = f.submit "LOGIN", class: 'btn-primary'
